https://github.com/google-coral/pycoral/releases/download/v1.0.1/tflite_runtime-2.5.0-cp38-cp38-linux_armv7l.whl#sha256=953f6b7e2a6679c39b95ef7957a6bd78fff4b5e0dd78244599cfa78037e19953
Flask>=0.8
flask-ngrok == 0.0.25
flask-wtf 
flask-uploads == 0.2.1
WTForms == 2.3.3
Werkzeug==0.16.0
numpy>=1.9.1
scipy>=0.14
six>=1.9.0 
matplotlib
sklearn
pandas
seaborn
opencv-python
cv2-tools

